/* Home page */

#btn_readMore {
  background-color: #414751;
  padding: 20px;
  border: none;
  align-self: flex-end;
}

#btn_readMore:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
