/* Buttons styles */

@import "./colors.css";

.btn_viewHikes {
  padding: 15px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: var(--btn_color);
  border: solid 0.1em;
  border-color: rgba(179, 164, 164, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  cursor: pointer;
  font-weight: 800;
  font-size: 1em;
}

#btn_submit {
  padding: 5px 20px;
  color: white;
  background: var(--btn_color);
  border: solid 0.1em;
  border-color: rgba(179, 164, 164, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  cursor: pointer;
  font-weight: 800;
  font-size: 1em;
  float: right;
}
#btn_submit:hover {
  transition: 100ms;
  transform: scale(1.05);
}
