:root {
  --dark-gradient: linear-gradient(to right, #2c3036 0%, #282c31);
  --light-gradient: linear-gradient(to right, #414751 0%, #373c44);
  --btn_color: linear-gradient(to right, #06beb6 0%, #48b1bf 51%, #06beb6 100%);
  --almost-white: #dce4e5;
}
