@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import "./nav-header.css";
@import "./nav-mobile.css";
@import "./nav-sidebar.css";
@import "./button-style.css";
body {
  margin: 0;
  padding: 0;
  background-color: var(--almost-white);

  font-family: "Inter", sans-serif;
  font-weight: 400;
}
main {
  margin: auto;
  max-width: 1200px;
}
main {
  display: flex;
}
.container-contact {
  background-image: var(--dark-gradient);
  flex: 1;
  margin: 20px;
  padding: 20px;
}
.contact-phone {
  display: flex;
  align-items: center;
}
.fa-phone {
  color: var(--almost-white);
}
.contact-phone p {
  color: var(--almost-white);
  margin-left: 0.5em;
}
.wrapper-form {
  max-width: 450px;
  margin: auto;
}

.wrapper-form h1 {
  color: var(--almost-white);
}
#input-message {
  width: calc(100% - 8px);
  margin-top: 1em;
  resize: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
#input-name,
#input-email {
  font-family: inherit;
  width: 50%;
  padding: 1em;
}
#input-name {
  margin-right: 0.5em;
}
#input-email {
  margin-left: 0.5em;
}
.flex-form {
  display: flex;
  justify-content: space-between;
}

#txt_required {
  color: var(--almost-white);
  font-size: 9px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
@media screen and (min-width: 600px) {
  .container-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "card-one card-two"
      "card-one card-four"
      "card-six card-seven"
      "card-five card-three";
  }
}

@media screen and (min-width: 900px) {
  .container-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "card-one card-two card-three"
      "card-one card-four card-five"
      "card-six card-seven card-seven";
  }
  .container-contact {
    height: 700px;
  }
}
