@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import "./nav-header.css";
@import "./nav-mobile.css";
@import "./nav-sidebar.css";
@import "./button-style.css";
body {
  margin: 0;
  padding: 0;
  background-color: white;

  font-family: "Inter", sans-serif;
  font-weight: 400;
}
main {
  margin: auto;
  max-width: 1200px;
}
main {
  display: flex;
}

.container-cards {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 20px;
  min-height: 800px;
  padding: 20px;
}
.card {
  border: solid 0.1em;
  border-radius: 9px;
  border-color: rgba(179, 164, 164, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  background-image: var(--light-gradient);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  transition: 200ms;
  transform: scale(1.05);
}
.card h2 {
  font-size: 15px;
}
.img-hikes {
  width: calc(100% - 10px);
  margin: 5px;
  max-height: 160px;
  object-fit: cover;
  border-radius: 9px;
}
.tags-container {
  display: flex;
  justify-content: first baseline;
}
.tags-container p {
  margin: 0;
  margin-right: 0.5em;
  color: var(--almost-white);
  background-image: var(--dark-gradient);
  font-size: 12px;
  padding: 10px;
  border-radius: 19px;
}
.hike-cards-description p {
}

@media screen and (min-width: 600px) {
  .container-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "card-one card-two"
      "card-one card-four"
      "card-six card-seven"
      "card-five card-three";
  }
}

@media screen and (min-width: 900px) {
  .container-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
