@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: white;

  font-family: "Inter", sans-serif;
  font-weight: 400;
}
main {
  margin: auto;
  max-width: 1200px;
}
main {
  display: flex;
}

.container-cards {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 20px;
  min-height: 800px;
  padding: 20px;
}
.card {
  border: solid 0.1em;
  border-color: rgba(179, 164, 164, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  transition: 200ms;
  transform: scale(1.05);
}

.img-hikes {
  width: 100%;
}

/*nav mobile*/
.menu-mobile {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  left: auto;
  background-color: blue;
}

@media screen and (min-width: 600px) {
  .container-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "card-one card-two"
      "card-one card-four"
      "card-six card-seven"
      "card-five card-three";
  }
}

@media screen and (min-width: 900px) {
  .container-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
