@import "./colors.css";

.nav-header {
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
}
.nav-wrapper {
  border: solid 0.1em;
  border-color: rgba(179, 164, 164, 0.2);
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  background-image: var(--dark-gradient);
  color: var(--almost-white);
}
#nav-header-logo {
  width: 35px;
  height: 35px;
}
.nav-left {
  display: flex;
  align-items: center;
  padding: 5px;
}
.nav-left a {
  width: 35px;
  height: 35px;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-middle {
  display: flex;
  align-items: center;
}
.active-nav {
  color: var(--almost-white);
  list-style-type: none;
  margin-left: 5px;
  margin-right: 5px;
}
.header-nav {
  color: var(--almost-white);
  list-style-type: none;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}

.header-icon {
  font-size: 20px;
  margin-right: 1em;
}

#testone {
  display: none;
}

@media screen and (max-width: 900px) {
  #testone {
    display: block;
  }
  .nav-middle {
    display: none;
  }
}
